<configuration>
  <system.web>
    <httpRuntime maxRequestLength="51200" /> <!-- Size in KB (50 MB in this example) -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> <!-- Size in Bytes (50 MB in this example) -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
